<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/x-icon" href="/logo.png" />
    <title><% if (title) { %><%= title %> | <% } %>Clubhouse</title>
  </head>
  <body>
    <h1>Welcome to the Clubhouse</h1>
    <div>
        <div>
            <h2>Become a Member <a href="/membership">Here</a></h2>
            <p>Clubhouse members can add messages and see which other members wrote which messages.</p>
        </div>
        <div>
            <h2>Become an Admin <a href="/admin">Here</a></h2>
            <p>Admins can delete messages.</p>
        </div>
    </div>
    <% if (isAuthenticated) { %>
        <%- include('partials/errors.ejs') %>
        <h2>What's up <%= currentUser.first_name %> <%= currentUser.last_name %></h2>
        <a href="/log-out">Log Out</a>
    <% } else { %>
        <%- include('partials/errors.ejs') %>
        <h2>Log in to add your own messages!</h2>
        <a href="/log-in">Log In</a>
    <% } %>
    <div>
        <% if (isAuthenticated) { %>
            <a href="/add-message">Add Message</a>
        <% } %>
        <h2>Clubhouse Messages</h2>
        <% if (locals.messages) { %> 
            <% messages.forEach((message) => { %>
                <h3><%= message.title %></h3>
                <p><%= message.body %></p>
                <% if (isAuthenticated && currentUser?.is_member === true) { %>
                    <p>
                        <time class="message-date" 
                            data-timestamp="<%= message.created_at.toISOString() %>">
                        </time>
                    </p>
                    <p>Author: <%= message.first_name %> <%= message.last_name %></p>
                    <% if (currentUser?.is_admin === true) { %>
                        <form action="/delete-message/<%= message.message_id%>" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    <% } %>
                <% } %>
            <% }) %>
        <% } %>
    </div>
  </body>
  <script src="/time.js"></script>
</html>
